.footer {
    border-top: solid 1px var(--accent-bg);
    padding: 40px 0 0;
}

.footer__inner {
    display: grid;
    grid-template-columns: 394px repeat(4, 1fr);
    gap: 28px;
    margin-bottom: 80px;
}

.footer__col:first-child {
    /* position: relative; */
    padding: 5% 0 0;
}

.footer__logo {
    display: block;
    max-width: 181px;
    margin-bottom: 18px;
}

.footer__logo img {
    width: 100%;
}

.footer__title {
    font-size: 22px;
    margin-bottom: 20px;
}


.footer__col-item {
    font-size: 17px;
    line-height: 1.27;
    margin-bottom: 14px;
}

.footer__col-item:last-child {
    margin-bottom: 0;
}

.footer__col-link {
    font-size: 17px;
    line-height: 1.27;
}


/* ========= */


.footer__authors {
    display: flex;
    align-items: end;
    justify-content: space-between;


    max-width: 1350px;
    width: 100%;
    height: 78px;
    margin: 0 auto;

    padding: 0 28px 4px;

    border-top: solid 1px var(--accent-bg);
    font-size: 18px;
    flex-wrap: wrap;

}

.footer__authors-powered,
.footer__authors-made {
    display: flex;
    gap: 5px;
}

.footer__authors-title {
    font-size: 18px;
    line-height: 1.2;
}

.footer__authors-link img {
    width: 22px;
    height: 21px;
}