@import "reset.css";
@import "fonts.css";
@import "global.css";


@import "header.css";
@import "footer.css";







/* ========================================== */



.hero-slider__swiper {
    display: flex;
    background: var(--accent-bg);
    border-radius: var(--border-radius);

    height: 550px;
}

.hero-slider__slide {
    display: flex;
}

.hero-slider__info {
    max-width: 650px;
    width: 100%;
    padding: 145px 56px 0;
    flex-shrink: 0;
}

.hero-slider__title {
    font-size: 58px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-slider__text {
    max-width: 550px;
    margin-bottom: 30px;
}

.hero-slider__button {
    align-items: center;
}


.hero-slider__img img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
}

.swiper-pagination-bullet {
    width: 184px;
    display: inline-block;
    border-radius: 0;
    height: 2px;
    background: var(--general-text);
}

.hero-slider__prev {
    position: absolute;
    top: 50%;
    left: 1.7%;
}

.hero-slider__next {
    position: absolute;
    top: 50%;
    right: 1.7%;
}

.hero-slider__prev,
.hero-slider__next {
    background: transparent;
    z-index: 10;
}


















/* ========================================== */



.category__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 55px;
}

.category__info-title {
    text-align: center;
    margin-bottom: 9px;
}

.category__info-text {
    text-align: center;
    font-size: 14px;
    max-width: 650px;
    width: 100%;
}

.category__list {
    display: grid;
    grid-template: 472px 270px / 2fr repeat(2, 1fr);
    gap: 16px;

}

.category__item {
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 35px 0 #00000040;
}


.category__item-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}


.category__item-category {
    font-size: 15px;
}

.category__item-title {
    display: flex;
    font-size: 32px;
}

/* ========================================== */




.category__item.laptops {
    text-align: end;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    padding: 0 42px;
}

.laptops .category__item-img {
    height: 377px;
    left: 5%;
}

.laptops .category__item-img img {
    position: relative;
    top: -20%;
    left: 0;
}

.laptops .category__item-title {
    justify-content: end;
    max-width: 192px;
}

.category__item.phone {
    text-align: center;
    flex-direction: column;
    justify-content: end;
    padding: 0 30px 144px;
    grid-row: span 2;
}

.phone .category__item-img {
    top: 15%;
}

.category__item.tablet {
    padding: 115px 0 0;
    align-items: center;

    text-align: center;

    flex-direction: column;
    grid-row: span 2;
}

.tablet .category__item-img {
    height: 377px;
    top: 30%;
    left: -25%;
}

.category__item.watch {
    padding: 0 42px;
    align-items: center;
    text-align: end;
    justify-content: end;
}

.watch .category__item-title {
    justify-content: end;
    max-width: 128px;
}

.watch .category__info {
    justify-content: end;
}

.watch .category__item-img {
    top: -85%;
    left: 5%;
}

/* ========================================== */




.offers__info {
    text-align: center;
    margin-bottom: 31px;
}

.offers__info-title {
    margin-bottom: 9px;
}

.offers__info-text {
    font-size: 14px;
}

.offers__list {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    gap: 28px;
}

.offers__item {
    height: 391px;
}

.offers__item-img {
    max-height: 270px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offers__item-info {
    position: relative;
    max-height: 121px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.offers__item-title {
    font-size: 22px;
    margin-bottom: 9px;
}

.offers__item-text {
    font-size: 14px;
    color: var(--accent-text);

}

.offers__item-prise {
    position: absolute;
    bottom: 0;
    font-size: 18px;
}

/* ========================================== */






.the-best__info {
    text-align: center;
    margin-bottom: 56px;
}

.the-best__info-title {
    margin-bottom: 9px;
}

.the-best__info-text {
    font-size: 14px;
}

.the-best__list {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    gap: 15px;
}

.the-best__item {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background: #f8f9fa;
    border-radius: 16px;
    padding: 59px 41px 0;
}

.the-best__item-info {
    margin-bottom: 30px;
}

.the-best__item-text {
    font-size: 13px;
}

.the-best__item-title {
    margin-bottom: 30px;
    font-size: 28px;
}


.the-best__item-img img {
    width: 295px;
    height: 240px;
}

/* ========================================== */

.ideas__info {
    text-align: center;
    margin-bottom: 56px;
}

.ideas__info-title {
    margin-bottom: 9px;
}

.ideas__info-text {
    font-size: 14px;
}

.ideas__inner {
    display: flex;
    gap: 35px;
    margin-bottom: 74px;
}

.ideas__img {
    border-radius: 16px;
    max-width: 620px;
    /* max-height: 420px; */
}

.ideas__img img {
    width: 100%;
    /* height: 100%; */
}

.ideas__text-paragraph {
    font-size: 24px;
    margin-bottom: 24px;
}

.ideas__button {
    display: flex;
    justify-content: center;
    font-size: 24px;
    text-transform: capitalize;
}

/* ========================================== */





.search__info {
    text-align: center;
    margin-bottom: 24px;
}


.search__inner {
    display: flex;
    align-items: center;

    flex-direction: column;

    width: 100%;
}

.search__form {
    display: flex;
    align-items: center;
    max-width: 650px;
    width: 100%;
    padding: 0 17px;
    gap: 20px;
    border: 1px solid #c5c5c5;
    border-radius: 100px;
    margin-bottom: 18px;
    transition: var(--transition);
}

.search__form:hover {
    border: 1px solid var(--general-text);
}

.search__form-input {
    width: 100%;
    height: 56px;
}

.search__form-input::placeholder {
    font-size: 14px;
    width: 100%;
    color: #000;
}

.search__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 927px;
    width: 100%;
    gap: 7px;
}

.search__item {
    border: 1px solid #c5c5c5;
    transition: var(--transition);
}

.search__item:hover {
    border: 1px solid var(--general-text);
}

/* ========================================== */




.subscription__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 935px;
    width: 100%;
    margin: 0 auto;
    background: var(--accent-bg);
    border-radius: 16px;
    padding: 47px 0 44px;
}

.subscription__info {
    text-align: center;
    margin-bottom: 14px;
}

.subscription__info-title {
    margin-bottom: 9px;
}

.subscription__img {

    max-width: 233px;
    margin-bottom: 14px;
}

.subscription__img img {
    width: 100%;
}

.subscription__form {
    position: relative;
    display: flex;
}

.subscription__form span {
    position: absolute;
    top: 10px;
    left: 33px;
    font-size: 11px;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.subscription__form-input {
    max-width: 250px;
    width: 100%;
    padding: 16px 32px;
    border: 1px solid var(--general-text);
    border-radius: 54px 0 0 54px;
    background: transparent;
    transition: var(--transition);
}

.subscription__form-input:focus {
    padding: 20px 32px 12px;
}


.subscription__form-input:focus+span {
    visibility: visible;
    opacity: 1;
}

.subscription__form-button {
    display: flex;
    align-items: center;
    padding: 16px 32px;
    background: #000000;
    border-radius: 0 200px 200px 0;
    color: var(--accent-bg);
    font-size: 14px;
    cursor: pointer;
}



/* ========================================== */
/* ========================================== */
/* ========================================== */






@media (max-width: 1200px) {

    /* category */
    .watch .category__item-img {
        top: 5%;
        left: 5%;
    }

    .watch .category__item-img img {
        width: 20vw;
    }

    .laptops .category__item-img img {
        width: 40vw;
    }

    /* the-best */

    .the-best__list {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }

    .the-best__item:last-child {
        grid-column: 1 /-1;
    }


}

@media (max-width: 1100px) {

    /* hero-slider */
    .hero-slider__img {
        display: none;
    }

    /* category */
    .laptops .category__item-img img,
    .watch .category__item-img img {
        top: 5%;
    }

    /* offers */

    .offers__list {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }

    /* footer */
    .footer__inner {
        gap: 18px;
    }
}

@media (max-width: 900px) {


    /* header */
    .header__user-nav {
        max-width: 130px;
    }

    .hero-slider__info {
        padding: 100px 56px 0;
    }


    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        padding: 26vh 15px 30px;
        font-size: 20px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
    }

    .burger-icon {
        display: flex;
    }



    /* category */

    .category__list {
        grid-template: 472px repeat(2, 270px) / repeat(2, 1fr);
    }

    .tablet .category__item-img {
        top: 40%;
        left: -8%;
    }





    /* ideas */
    .ideas__inner {
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .ideas__text-paragraph {
        font-size: 18px;
    }





    /* footer */
    .footer__inner {
        grid-template: repeat(2, 1fr) / repeat(4, 1fr);
        margin-bottom: 50px;
    }

    .footer__col:first-child {
        grid-column: 1 /-1;
    }

}

@media (max-width: 800px) {

    /* hero-slider */
    .hero-slider__title {
        font-size: 5.8vw;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    /* category */
    .category__list {
        grid-template: repeat(3, 270px) / repeat(2, 1fr);
    }

    .category__item.laptops {
        grid-column: 1 / -1;
    }

    .category__item.phone {
        padding: 0 42px 40px;
    }

    .category__item.tablet {
        padding: 40px 42px 0;
    }

    .phone .category__item-img {
        top: -3%;
    }

    .category__item.watch {
        grid-column: 1 / -1;
    }

    /* offers */

    .the-best__list {
        grid-template: repeat(3, 1fr) / repeat(1, 1fr);
    }
}

@media (max-width: 600px) {

    .main__category,
    .main__Ð¾ffers,
    .main__the-best,
    .main__ideas,
    .main__search,
    .main__subscription {
        margin-bottom: 50px;
    }

    /* hero-slider */
    .swiper-pagination-bullet {
        width: 130px;
    }

    /* offers */

    .offers__list {
        grid-template: repeat(2, 1fr) / 1fr;
    }

    .offers__item-info {
        text-align: center;
        align-items: center;
    }

    /* the-best */
    .the-best__info {
        margin-bottom: 20px;
    }


    .the-best__item {
        padding-top: 20px;
    }

    /* ideas */
    .ideas__info {
        margin-bottom: 20px;
    }

    /* footer */
    .footer__inner {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        gap: 18px;
        margin-bottom: 30px;
    }
}

@media (max-width: 450px) {


    /* hero-slider */
    .hero-slider__info {
        text-align: center;
        max-width: 650px;
        width: 100%;
        padding: 145px 56px 0;
        flex-shrink: 0;
    }

    .hero-slider__button {
        align-items: center;
    }

    .swiper-pagination-bullet {
        width: 70px;
    }

    /* category */


    .category__list {
        display: grid;
        grid-template: 2fr 2fr 2fr 1fr/1fr;
        gap: 16px;

    }

    .category__item.phone {
        grid-row: 2;
    }

    .phone .category__item-img {
        top: 20%;
    }

    .category__item.tablet {
        grid-row: 3;
    }

    .tablet .category__item-img {
        top: 70%;
        left: 16%;
    }

    .watch .category__item-img {
        top: -15%;
        left: 21%;
    }

    /* the-best */
    .the-best__item {
        padding: 59px 0 0;
    }


    /* footer */
    .footer__inner {
        grid-template: auto / 1fr;
        gap: 18px;
        margin-bottom: 20px;
    }

    .footer__col {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }

    .footer__authors {
        justify-content: center;
    }



}